/deb-dist/
/.deb-build/
/rpm-dist/
/src-dist/
/.src-build/
/.ofa-kernel/
/.tmp-bundle/
/.commit-msg
.cache.mk
/.tmp_versions/
/.ofa_kernel/
/Module.symvers
/modules.order
/build-info.txt
/compat.h
/compat-after.h
/compat.env
*.gcno
