.cache.mk
/.Module.symvers.cmd
/.commit-msg
/.deb-build/
/.modules.order.cmd
/.ofa-kernel/
/.ofa_kernel/
/.rpm-build/
/.src-build/
/.tmp-bundle/
/.tmp_versions/
/Module.symvers
/build
/build-info.txt
/compat-after.h
/compat.env
/compat.h
/deb-dist/
/dist
/modules.order
/rpm-dist/
/src-dist/
